In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("data.csv", encoding='latin1')

In [5]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [7]:
unique_countries = df['Area'].unique()
print(len(unique_countries))

49

In [28]:
columns = df[['Y2017', 'Area']]
grouped = columns.groupby('Area').sum()
seventh_area = grouped.sort_values(by='Y2017').index[6]
print(seventh_lowest_area)

Guinea-Bissau

In [16]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [29]:
new_df = df[['Item', 'Y2015', 'Y2018']]
grouped = new_df.groupby('Item').sum()
wine_2015 = grouped.loc['Wine', 'Y2015']
wine_2018 = grouped.loc['Wine', 'Y2018']

print(wine_2015)
print(wine_2018)

4251.81
4039.32

In [30]:
year = df['Y2017']
mean2017 = year.mean()
std_dev = year.std()
print("Mean", round(mean_2017, 2))
print("Standard deviation", round(std_dev_2017, 2))

Mean 140.92
Standard deviation 1671.86

In [31]:
print("Unique values in 'Area' column:", df['Area'].unique())

Unique values in 'Area' column: ['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Cabo Verde'
 'Cameroon' 'Central African Republic' 'Chad' 'Comoros' 'Congo'
 "CÃ´te d'Ivoire" 'Djibouti' 'Egypt' 'Eswatini' 'Ethiopia' 'Ethiopia PDR'
 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho'
 'Liberia' 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius' 'Morocco'
 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Sao Tome and Principe'
 'Senegal' 'Seychelles' 'Sierra Leone' 'South Africa' 'Sudan'
 'Sudan (former)' 'Togo' 'Tunisia' 'Uganda' 'United Republic of Tanzania'
 'Zambia' 'Zimbabwe']

In [32]:
print("Unique values in 'Item' column:", df['Item'].unique())

Unique values in 'Item' column: ['Population' 'Grand Total' 'Vegetal Products' 'Animal Products'
 'Cereals - Excluding Beer' 'Wheat and products' 'Rice and products'
 'Barley and products' 'Maize and products' 'Rye and products' 'Oats'
 'Millet and products' 'Sorghum and products' 'Cereals, Other'
 'Starchy Roots' 'Cassava and products' 'Potatoes and products'
 'Sweet potatoes' 'Yams' 'Roots, Other' 'Sugar Crops' 'Sugar cane'
 'Sugar beet' 'Sugar & Sweeteners' 'Sugar (Raw Equivalent)'
 'Sweeteners, Other' 'Honey' 'Pulses' 'Beans' 'Peas'
 'Pulses, Other and products' 'Treenuts' 'Nuts and products' 'Oilcrops'
 'Soyabeans' 'Groundnuts (Shelled Eq)' 'Sunflower seed'
 'Rape and Mustardseed' 'Cottonseed' 'Coconuts - Incl Copra' 'Sesame seed'
 'Olives (including preserved)' 'Oilcrops, Other' 'Vegetable Oils'
 'Soyabean Oil' 'Groundnut Oil' 'Sunflowerseed Oil' 'Rape and Mustard Oil'
 'Cottonseed Oil' 'Palmkernel Oil' 'Palm Oil' 'Coconut Oil'
 'Sesameseed Oil' 'Olive Oil' 'Maize Germ Oil' 'Oilcrops Oil, Other'
 'Vegetables' 'Tomatoes and products' 'Onions' 'Vegetables, Other'
 'Fruits - Excluding Wine' 'Oranges, Mandarines'
 'Lemons, Limes and products' 'Grapefruit and products' 'Citrus, Other'
 'Bananas' 'Plantains' 'Apples and products' 'Pineapples and products'
 'Dates' 'Grapes and products (excl wine)' 'Fruits, Other' 'Stimulants'
 'Coffee and products' 'Cocoa Beans and products' 'Tea (including mate)'
 'Spices' 'Pepper' 'Pimento' 'Cloves' 'Spices, Other'
 'Alcoholic Beverages' 'Wine' 'Beer' 'Beverages, Fermented'
 'Beverages, Alcoholic' 'Alcohol, Non-Food' 'Meat' 'Bovine Meat'
 'Mutton & Goat Meat' 'Pigmeat' 'Poultry Meat' 'Meat, Other' 'Offals'
 'Offals, Edible' 'Animal fats' 'Butter, Ghee' 'Cream'
 'Fats, Animals, Raw' 'Fish, Body Oil' 'Fish, Liver Oil' 'Eggs'
 'Milk - Excluding Butter' 'Fish, Seafood' 'Freshwater Fish'
 'Demersal Fish' 'Pelagic Fish' 'Marine Fish, Other' 'Crustaceans'
 'Cephalopods' 'Molluscs, Other' 'Aquatic Products, Other'
 'Aquatic Animals, Others' 'Aquatic Plants' 'Miscellaneous' 'Infant food'
 'Sugar non-centrifugal' 'Palm kernels' 'Ricebran Oil']

In [33]:
mad_protein = df[(df['Area'] == 'Madagascar') & (df['Item'] == 'Protein Supply Quantity')]['Y2015'].values
if len(madagascar_protein_2015) > 0:
    print("Total Protein", madagascar_protein_2015[0])
else:
    print("No data available")

No data available

In [35]:
cols = df[['Y2017', 'Area']]
grouped = selected_columns.groupby('Area').sum()
highest_area = grouped['Y2017'].idxmax()
print("The highest area :", highest_area)

The highest area : Nigeria

In [36]:
missing_vals = df['Y2014'].isnull().sum()
total = len(df['Y2014'])
percentage = (missing_vals / total) * 100
print(missing_vals)
print("Percentage:", round(percentage, 3), "%")

1589
Percentage: 2.607 %

In [38]:
processing = df[(df['Element'] == 'Processing')]['Y2017']
total = processing.sum()
print("Total sum", total)

Total sum 292836.0

In [39]:
correlation = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()
least_value = correlation['Element Code'].idxmin()
print("Year:", least_value)

Year: Y2016